*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    border: 2px solid green;
    padding: 2em;
}

.site-container{
    border: 2px solid darkblue;
    padding: 2em;
}

.site-container > *{
    border: 2px solid black;
    padding: 2em;
}

.site-container > * + *{
    margin-top: 2em;
}

header, main, footer{
    text-align: center;
}